# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# make commands for local env (must be ingored because Autobuild job check it)
Makefile

# Dependency directories (remove the comment below to include it)
tests/test-certs
vendor/
.idea
.DS_Store